.navigation
{
  height: 74px;
  background-color: red;
  display: flex;
  justify-content: space-between;
  align-items: center;
  

}

.content{
  height: 95px;
  background-color: blue;

}

.footer
{
  height: 50px;
  background-color: grey;

}