.navigation
{
  font-family: var(--font1);
  height: 74px;
  margin-top: 20px;
  /* background-color: red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* position: fixed; */


}

.nav-left{
  font-size: 34px;
  display: flex;

}

.nav-left ul li{
  
   list-style: none;
   margin: 0px 14px;
   /* font-family: ' New Roman', Times, serif; */
   font-family: cursive;
   font-weight: bold;
   
   
   
  }

.nav-left ul li a{
  
   /* list-style: none; */
   text-decoration: none;
   color: black;
   transition: all 0.3s ease-in-out;
   font-size: 20px;
}

.nav-left ul li a:hover{
  /* color: var(--main-bg-color); */
  color: brown;
  font-weight: bold;
}



.nav-left ul{
  
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 77px;
  font-size: 18px;

}

.content-left{
  font-family: var(--font1);
  /* width: 50%; */
  display: flex;
  /* align-items: center; */
  justify-content: center;
  flex-direction: column;
  padding: 40px;
}

.content-right{
  /* width: 50%; */
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.content-right img{
  height: 290px;
  border-radius: 50%;
  border: 2px solid black;
  /* extra */
  margin-left: 10px;
  
}

.content p{
  margin: 5px 0;
  line-height: 30px;
}

.content{
  height: 395px;
  /* background-color: rgb(245, 245, 248); */
  display: flex;
  margin-top: 32px;
  padding: 9px;
  position: relative;

}

.content::after{
  content: "";
  background-image: url(/image/11.svg);
  position: absolute;
  width: 100%;
  opacity: 0.15;
  height: inherit;
}


.footer
{
  height: 50px;
  background-color: var(--main-bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  flex-direction: column;
  padding: 5px;

}

.second
{
  margin-top: 0;
}

.content h1{
  margin-bottom: 10px;

}


.home-article{
  /* height: 455px; */
  /* background-color: rgb(240, 178, 178); */
   background-color: rgb(245, 245, 248);
  font-family: var(--font1);
  padding: 15px;
  margin-top: 20px;

}

.home-art{
  display: flex;
  /* justify-content: center; */
  padding: 20px;
      margin: 5px;
  /* align-items: center; */
}

.home-art-content
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  padding: 25px;
}

.home-art-content a {
  text-decoration: none;
  /* color: var(--main-bg-color);
   */
   color: black;

}


.home-art-content span{
  line-height: 25px;
}

.home-art-content a :hover{
  color: var(--main-bg-color);
}

.home-art img{
  width: 270px;
}

.footer a{
  color: white;
  text-decoration: none;
}

.footer a:hover{
  text-decoration: underline;
}

.footer p {
  color: white;
}

