:root {
  --main-bg-color: brown;
}

*{
  padding: 0;
  margin: 0;
  /* box-sizing: border-box; */
}

/* for contentt namd footer */
.mx-width-1{
  max-width: 80vw;

}

/* for namvigation size */
.mx-width-2{
  /* always take the 70  */
  max-width: 60vw;
}

.m-auto
{
  margin: auto;

}

.btn{

}