.container{
  max-width: 80vw;
}

.navbar  li{
  list-style: none;
  margin-left: 20px;
}

.navbar{
  display: flex;
  /* margin-left: 20px; */
  height: 67px;
}

.tleft{
  width: 50%;
  background-color: aqua;
}

.tright{
  width: 50%;
  background-color: blue;
}

.sec-1{
  height: 50vh;
}