*{
  margin: 0;
  padding: 0;
}

.min-h-screen{
  height: 100vh;

}

.bg-red{
  background-color: red;
}

.mx-auto{
  margin-left: auto;
  margin-right: auto;

}

.flex{
  display: flex;
}

.items-center{
  justify-content: space-between;
}
.jus-center{
  justify-content: center;
}

.align{
  align-items: center;
}



.flex-col{
  flex-direction: column;
}

body{
  font-family: 'Ubuntu';

}

.bold{
  font-weight: bold;
}

.my{
  margin-top: 13px;
  margin-bottom: 13px;


}

.px-2{
  padding-right: 13px;
  padding-left: 13px;
}


.text-blue{
  color:rgba(227, 74, 56, 1);
}

.btn{
  padding: 7px 12px;
  cursor: pointer;
  border: none;
  border: 2px solid white;
  color: white;
  background-color:  rgba(227, 74, 56, 1);
  border-radius: 6px;

}

.overflow-hidden{
  overflow: hidden;
}